In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [106]:
asset_df = pd.read_csv("/users/Vivek/Documents/assets/Asset_Item_Sales_Report.csv")

In [26]:
asset_df.shape

(368030, 33)

In [27]:
asset_df.columns

Index(['Branch', 'Asset ID', 'Route Name', 'Customer Code', 'Customer',
       'Location Code', 'Location', 'Place', 'City', 'Machine Class',
       'Item Code', 'Item Name', 'Item Category', 'Manufacturer',
       'Item Finance Category', 'Total Collections', 'Cash Collections',
       'Cashless Sales', 'Sales Tax', 'Deposit', 'Pretax Revenue',
       'Product Cost', 'Spoiled Cost', 'Gross Margin', 'Gross Margin %',
       'Commissions', 'Net Margin', 'Net Margin %', 'Machine Inventory Cost',
       'Sold Units', 'Added Units', 'Spoiled Units', 'Removed Units'],
      dtype='object')

In [116]:
asset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368030 entries, 0 to 368029
Data columns (total 33 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Branch                  368030 non-null  object
 1   Asset ID                368030 non-null  object
 2   Route Name              368030 non-null  object
 3   Customer Code           116345 non-null  object
 4   Customer                368030 non-null  object
 5   Location Code           78993 non-null   object
 6   Location                368030 non-null  object
 7   Place                   360848 non-null  object
 8   City                    368030 non-null  object
 9   Machine Class           367737 non-null  object
 10  Item Code               368030 non-null  object
 11  Item Name               368030 non-null  object
 12  Item Category           368030 non-null  object
 13  Manufacturer            368030 non-null  object
 14  Item Finance Category   368030 non-null  object
 15  Total Collections       368030 non-null  object
 16  Cash Collections        368030 non-null  float64
 17  Cashless Sales          368030 non-null  float64
 18  Sales Tax               368030 non-null  float64
 19  Deposit                 368030 non-null  float64
 20  Pretax Revenue          368030 non-null  float64
 21  Product Cost            367845 non-null  object
 22  Spoiled Cost            367845 non-null  float64
 23  Gross Margin            367845 non-null  object
 24  Gross Margin %          98798 non-null   float64
 25  Commissions             368030 non-null  object
 26  Net Margin              367845 non-null  object
 27  Net Margin %            98798 non-null   float64
 28  Machine Inventory Cost  367845 non-null  object
 29  Sold Units              368030 non-null  object
 30  Added Units             368030 non-null  object
 31  Spoiled Units           368030 non-null  int64
 32  Removed Units           368030 non-null  int64
dtypes: float64(8), int64(2), object(23)
memory usage: 92.7+ MB

In [15]:
import re

In [30]:
asset_df['Total Collections'].head()

0    2135.36
1    1570.10
2    1118.85
3     733.86
4     695.66
Name: Total Collections, dtype: object

In [31]:
asset_df['Total Collections'] = asset_df['Total Collections'].apply(pd.to_numeric)

In [170]:
asset_df['Gross Margin'].unique()

array([nan, '$1,414.50', '$1,002.36', ..., '-$30.36', '-$139.20',
       '-$71.60'], dtype=object)

In [ ]:
Product Cost , Gross Margin , Net Margin , Machine Inventory Cost, Sold Units, Added Units

In [173]:
asset_df[['Product Cost' , 'Gross Margin', 'Net Margin' , 'Machine Inventory Cost']] = asset_df[['Product Cost' , 'Gross Margin', 'Net Margin' , 'Machine Inventory Cost']].fillna("$0.00")

In [177]:
asset_df[['Sold Units','Added Units']] = asset_df[['Sold Units','Added Units']].fillna("0")

In [186]:
def cleanse_numeric(asset_df,x) : 
    #asset_df[x] = asset_df[x].fillna(0)
    try : 
        asset_df[x] = asset_df[x].apply(lambda x : re.sub(r'[^0-9.]','',x))
        #asset_df[x] = pd.to_numeric(asset_df[x].str.replace(',', ''))
        asset_df[x] = asset_df[x].apply(pd.to_numeric)
    except :
        
        asset_df[x] = asset_df[x].apply(pd.to_numeric)
    print("completed for :",x)

In [187]:
numeric_cols = ['Sold Units','Added Units']

In [188]:
for x in numeric_cols : 
    cleanse_numeric(asset_df,x)

completed for : Sold Units
completed for : Added Units

In [189]:
asset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368030 entries, 0 to 368029
Data columns (total 33 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Branch                  368030 non-null  object
 1   Asset ID                368030 non-null  object
 2   Route Name              368030 non-null  object
 3   Customer Code           116345 non-null  object
 4   Customer                368030 non-null  object
 5   Location Code           78993 non-null   object
 6   Location                368030 non-null  object
 7   Place                   360848 non-null  object
 8   City                    368030 non-null  object
 9   Machine Class           367737 non-null  object
 10  Item Code               368030 non-null  object
 11  Item Name               368030 non-null  object
 12  Item Category           368030 non-null  object
 13  Manufacturer            368030 non-null  object
 14  Item Finance Category   368030 non-null  object
 15  Total Collections       368030 non-null  float64
 16  Cash Collections        368030 non-null  float64
 17  Cashless Sales          368030 non-null  float64
 18  Sales Tax               368030 non-null  float64
 19  Deposit                 368030 non-null  float64
 20  Pretax Revenue          368030 non-null  float64
 21  Product Cost            368030 non-null  float64
 22  Spoiled Cost            367845 non-null  float64
 23  Gross Margin            368030 non-null  float64
 24  Gross Margin %          98798 non-null   float64
 25  Commissions             368030 non-null  float64
 26  Net Margin              368030 non-null  float64
 27  Net Margin %            98798 non-null   float64
 28  Machine Inventory Cost  368030 non-null  float64
 29  Sold Units              16384 non-null   float64
 30  Added Units             98304 non-null   float64
 31  Spoiled Units           368030 non-null  int64
 32  Removed Units           368030 non-null  int64
dtypes: float64(16), int64(2), object(15)
memory usage: 92.7+ MB

In [190]:
asset_df.to_csv("/users/Vivek/Documents/assets/cleansed_data.csv")

In [191]:
asset_df.head()

,Branch,Asset ID,Route Name,Customer Code,Customer,Location Code,Location,Place,City,Machine Class,...,Gross Margin,Gross Margin %,Commissions,Net Margin,Net Margin %,Machine Inventory Cost,Sold Units,Added Units,Spoiled Units,Removed Units
0,Montreal,4545MTL,MONTREALVEND3,M-3970:6606,Hop. Pierre Le Gardeur,M-3970:6316,Hop. Pierre Le Gardeur-911 Monte,Urgence,Terrebonne,Food,...,0.00,NaN,136.90,0.00,NaN,0.00,0.0,0.0,0,0
1,Regina,1268RGA,REGINAVEND9(Jeannine),IMCK,MOSAIC,IMCK,IMCK,Food Cash Register,Belle Plain,Unknown,...,1414.50,100.00,0.00,1414.50,100.00,1.55,0.0,0.0,0,0
2,Montreal,2802MTL,MONTREALVEND3,M-3970:6606,Hop. Pierre Le Gardeur,M-3970:6316,Hop. Pierre Le Gardeur-911 Monte,Psychiatrie Bloc A,Terrebonne,Coffee,...,1002.36,98.53,271.68,730.68,71.82,2.72,1500.0,1691.0,0,0
3,London,94088LDN,LONDONVEND1,6382,CT Parkwood Institute Mental H,6382,CT Parkwood Institute Mental HLT,CD Coke Mental Health Bldg (IR) Main Lobby,London,GF Bev,...,424.80,65.41,60.12,364.68,56.15,45.12,234.0,225.0,0,0
4,Montreal,2769MTL,MONTREALVEND3,M-3970:6606,Hop. Pierre Le Gardeur,M-3970:6316,Hop. Pierre Le Gardeur-911 Monte,Psychiatrie Bloc A,Terrebonne,Coffee,...,624.31,98.69,163.42,460.89,72.86,4.00,826.0,1110.0,0,0

In [1]:
asset_df.groupby('Branch',as_index=False).agg({'Net Margin': 'Mean'})

NameError: name 'asset_df' is not defined